/* etiquetas h1 */
h1 {
  font-size: 2.5rem;
}
/* etiquetas h4 */
h4{
  text-decoration: overline;
}
/* tamaño del logo */
.navbar-brand img{
  width: 30%
}
/* formulario */
.formulario{
  width: 60%;
  border-radius: 2%;
}