/*selectores */
/*id */
/*clase             .nombreClase */
/*selectores de etiqueta-div */
/* selector universal *asterisco */

#text1 {
        background-color: violet;
        color: #ff7f50;
        padding: 0.5;
}

#text2 {
    background-color: #ff7f50;
    color 
    padding: none;
}
